<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../plugin/font-awesome-4.7.0/font-awesome-4.7.0/css/font-awesome.css" />
    <link rel="stylesheet" href="../css/common.css" />
    <link rel="stylesheet" href="../css//hieu.css" />
    <script src="../js/code.js"></script>
    <link rel="stylesheet" href="../css/bootstrap.min.css">
  </head>
  <body>
     <!-- Start header -->
  <header>
    <div class="navbar">
      <div class="nav-left">
        <a href="#">
          <img src="../images/logo.png" alt="logo" />
        </a>
        <div class="nav-search">
          <div class="location">
            <button class="btn-location">
              Hà Nội<i class="fa fa-sort-desc"></i>
            </button>
            <div class="show-location">
              <ul>
                <li>
                  <a href="#"><i class="fa fa-map-marker"></i>Hà Nội</a>
                </li>
                <li>
                  <a href="#"><i class="fa fa-map-marker"></i>Hồ Chí Minh</a>
                </li>
              </ul>
            </div>
          </div>
          <div class="combo-search">
            <input class="txt-search" type="text" placeholder="Sản phẩm bạn cần tìm..." />
            <button class="btn-search" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </div>
      <div class="nav-right">
        <ul>
          <a href="#">
            <li>
              <i class="fa fa-mobile"></i><br />
              <span>ĐIỆN THOẠI</span>
            </li>
          </a>
          <a href="#">
            <li>
              <i class="fa fa-newspaper-o"></i><br />
              <span>TIN TỨC</span>
            </li>
          </a>
          <a href="#">
            <li>
              <i class="fa fa-address-card-o"></i><br />
              <span>LIÊN HỆ</span>
            </li>
          </a>
          <a href="#">
            <li>
              <i class="fa fa-shopping-bag"></i><br />
              <span>GIỎ HÀNG</span>
            </li>
          </a>
          <a href="#">
            <li>
              <i class="fa fa-user"></i><br />
              <span>ĐĂNG NHẬP</span>
            </li>
          </a>
        </ul>
      </div>
    </div>
  </header>
  


    <div class="container">
        <div class="row">
            <div class="col-xs-3 col-sm-3 col-md-3 col-lg-3">
                <div style="height: 50px;"></div>
                <ul class="infomation">
                    <li style="background-color: rgb(224, 105, 105);"><a href="#">Thông tin người dùng</a></li>
                    <li><a href="/orderhistory">Lịch sử đặt hàng</a></li>
                    <li><a href="/changepassword">Đổi mật khẩu</a></li>
                </ul>
            </div>
            <div class="col-1">
            </div>
            <div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
                <div style="height: 50px;"></div>
                <h4>Thay đổi thông tin</h4>
                <form action="/update_infomation" method="POST">
                    <div class="form-group">
                        <label for="my-input">Name*</label>
                        <input id="my-input" class="form-control" type="text" name="name" value="<%= user.name %>" disabled="disabled" required="required">
                        <label for="my-input1">Fullname*</label>
                        <input id="my-input1" class="form-control" type="text" name="fullname" value="<%= user.fullname %>" disabled="disabled" required="required">
                        <label for="my-input2">Address*</label>
                        <input id="my-input2" class="form-control" type="text" name="address" value="<%= user.address %>" disabled="disabled" required="required">
                        <label for="my-input3">Email*</label>
                        <input id="my-input3" class="form-control" type="text" name="email" value="<%= user.email %>" disabled="disabled" required="required">
                        <label for="my-input4">Phone*</label>
                        <input id="my-input4" class="form-control" type="text" name="phone" value="<%= user.phone %>" disabled="disabled" required="required">
                        <button id="hidden" hidden type="submit" class="btn btn-primary mt-15">Lưu</button>
                        <div id="hidden1" hidden class="btn btn-primary mt-15" onclick="hide()">Thoát</div>
                        <div id="show" class="btn btn-primary mt-15" onclick="show()">Thay đổi</div>
                    </div>
                </form>
            </div>
        </div>
        <div style="height: 50px;"></div>
    </div>
  <!-- Start Footer -->
  <footer>
    <div class="side-footer">
      <div class="side-left-footer">
        <div class="logo-footer">
          <img src="../images/logo.png" alt="logo" />
        </div>
        <p>Address: 60-49 Road 11378 New York</p>
        <p>Phone: +65 11.188.888</p>
        <p>Email: hello.colorlib@gmail.com</p>
        <div class="social">
          <ul>
            <li>
              <a href=""><i class="fa fa-facebook" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-instagram" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-google" aria-hidden="true"></i></a>
            </li>
            <li>
              <a href=""><i class="fa fa-skype" aria-hidden="true"></i></a>
            </li>
          </ul>
        </div>
      </div>
      <div class="side-right-footer">
        <div class="infomation-footer">
          <h2>Thông tin</h2>
          <ul>
            <li><a href="">Trang chủ</a></li>
            <li><a href="">Sản phẩm</a></li>
            <li><a href="">Giới thiệu</a></li>
            <li><a href="">Tin tức</a></li>
            <li><a href="">Liên hệ</a></li>
            <li><a href="">Chính sách & Bảo hành</a></li>
          </ul>
        </div>
        <div class="join-footer">
          <h2>Kết nối với chúng tôi</h2>
          <p>
            Hãy điền Email của bạn vào đây để có thể nhận nhiều ưu đãi mới nhé
          </p>
          <form action="">
            <input type="text" name="" placeholder="Email của bạn..." required />
            <button type="submit">Đăng ký</button>
          </form>
        </div>
      </div>
      <br />
    </div>
    <div class="author">
      Copyright &copy; 2020 | Trang web này được xây dựng bởi Ephone Group
    </div>
  </footer>
  <!-- End Footer -->

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>