.page {
    text-align: end;
}

.page a {
    text-decoration: none;
}

.page-item {
    display: inline-block;
    padding: 5px 14px;
    border: 1px solid #dddddd;
    background-color: #fff;
    color: #777777;
    text-decoration: none;
}

.page-item:hover {
    background-color: #dddddd;
}

.current-page {
    display: inline-block;
    text-decoration: none;
    background-color: #337AB7;
    padding: 5px 14px;
    border: 1px solid #dddddd;
    color: #fff;
}